<?xml version="1.0"?>
<robot name="singleBox">
    <link name = "box">
        <visual>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
            <material name="red">
                <color rgba="1.0 0.0 0.0 0.7"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.2" iyz="0.0" izz="0.2"/>
        </inertial>
    </link>
</robot>

