<?xml version="1.0"?>

<robot name="PlanarSlider">
  <link name="base"/>
  <link name="slider1"/>
  <link name="slider2"/>
  <link name="slider3"/>

  <joint name="base_to_slider1" type="planar">
    <parent link="base"/>
    <child link="slider1"/>
    <axis xyz="1 0 0"/>
  </joint>

  <joint name="base_to_slider2" type="planar">
    <parent link="base"/>
    <child link="slider2"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="base_to_slider3" type="planar">
    <parent link="base"/>
    <child link="slider3"/>
    <axis xyz="0 0 1"/>
  </joint>
</robot>
